<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/Site.css")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        @Html.ActionLink("OnTheBoard", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "BoardGameModel")">Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "ReviewModel")">Reviews</a>
                </li>
                @if (User.IsInRole("admin"))
                {
                    <li><a class="nav-link" href="@Url.Action("Index", "UserModel")">Users</a></li>
                    <li><a class="nav-link" href="@Url.Action("Index", "CommentModel")">Comments</a></li>
                    <li><a class="nav-link" href="@Url.Action("Index", "AdvertisementModel")">Advertisements</a></li>
                }
                @if (User.IsInRole("user"))
                {
                    <li><a class="nav-link" href="@Url.Action("Index", "AdvertisementModel")">Advertisements</a></li>
                    var userEmail = User.Identity.Name;
                    BoardGame.DAL.OnTheBoardContext db = new BoardGame.DAL.OnTheBoardContext();
                    var query1 = db.User.Where(i => i.Email == userEmail);
                    BoardGame.Models.UserModels user = query1.Single();

                    var query2 = db.Message.Where(i => i.ReceiverUser.ID == user.ID).Where(i => i.ReadDate == null);
                    BoardGame.Models.MessageModels messages = query2.FirstOrDefault();
                    if (messages != null)
                    {
                        <li><a class="nav-link bg-warning" href="@Url.Action("Index", "MessageModel")">Messages</a></li>
                    }
                    else
                    {
                        <li><a class="nav-link" href="@Url.Action("Index", "MessageModel")">Messages</a></li>
                    }
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    
    @*<nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        @Html.ActionLink("OnTheBoard", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Games", "Index", "BoardGameModel")</li>
                        <li>@Html.ActionLink("Reviews", "Index", "ReviewModel")</li>
                        @if (User.IsInRole("admin"))
                        {
                            <li>@Html.ActionLink("Users", "Index", "UserModel")</li>
                        }
                        @if (User.IsInRole("user"))
                        {
                            <li>@Html.ActionLink("Advertisements", "Index", "AdvertisementModel")</li>
                            <li>@Html.ActionLink("Messages", "Index", "MessageModel")</li>
                            <li>@Html.ActionLink("Comments", "Index", "CommentModel")</li>
                            <li>@Html.ActionLink("Friends", "Index", "FriendModel")</li>
                            <li>@Html.ActionLink("Players", "Index", "PlayerModel")</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>*@
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("OnTheBoard", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        Page.Response.Write("<script>console.log(`Jestem w srodku`);</script>");

                        <li>@Html.ActionLink("Games", "Index", "BoardGameModel")</li>
                        <li>@Html.ActionLink("Reviews", "Index", "ReviewModel")</li>
                        @if (User.IsInRole("admin"))
                        {
                            <li>@Html.ActionLink("Users", "Index", "UserModel")</li>
                        }
                        @if (User.IsInRole("user"))
                        {
                            <li>@Html.ActionLink("Advertisements", "Index", "AdvertisementModel")</li>
                            <li>@Html.ActionLink("Messages", "Index", "MessageModel")</li>
                            <li>@Html.ActionLink("Comments", "Index", "CommentModel")</li>
                            <li>@Html.ActionLink("Friends", "Index", "FriendModel")</li>
                            <li>@Html.ActionLink("Players", "Index", "PlayerModel")</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    <div class="container body-content">
        @RenderBody()

     <div class="d-flex flex-column m-4">
    <footer>
        <p class="text-center">&copy; 2020/2021 - OnTheBoard - Dawid Garnczarek sem. 5 - ASP.NET Framework </p>
    </footer>
    </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
