@model IEnumerable<BoardGame.Models.AdvertisementModels>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron " style="min-height: 100vh;">

@using (Html.BeginForm())
{
    <h3 class="">
        Find by City: @Html.TextBox("SearchString")
        <input class="btn-primary border-0 rounded" type="submit" value="Search" />
    </h3>
}

@if (User.IsInRole("admin"))
{
    <h2 class="text-center m-4">Advertisement database:</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoardGame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPlayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoardGame.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxPlayer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <button class="btn-danger w-100 m-1"> @Html.ActionLink("Delete", "Delete", new { id = item.ID })</button>
                </td>
            </tr>
        }

    </table>
}
else
{
    <p class="mb- display-4">Advertisements:</p>
    <hr class="border-white mb-5" />
    var userEmail = User.Identity.Name;

    <button class="btn-lg bg-info m-4">@Html.ActionLink("Add advertisement", "Create")</button>
    foreach (var item in Model)
    {
        var userEmailModel = Html.DisplayFor(modelItem => item.Author.Email).ToString();
        <div class="row col-12">
            <div class="card mb-3 border-primary" style="width: 100vw;">
                <div class="row no-gutters">
                    <div class="col-md-3 my-auto">
                        <img class="img-thumbnail rounded-lg m-2 my-auto" src="@Html.DisplayFor(modelItem => item.Author.Photo)" class="card-img" alt="Image">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h3 class="card-title">@Html.DisplayFor(modelItem => item.Description)</h3>
                            <p class="card-text m-1">Author: @Html.DisplayFor(modelItem => item.Author.FullName)</p>
                            <p class="card-text m-1">Game: @Html.DisplayFor(modelItem => item.BoardGame.Title)</p>
                            <p class="card-text m-1">City: @Html.DisplayFor(modelItem => item.City)</p>
                            <p class="card-text m-1">Date: @Html.DisplayFor(modelItem => item.Date)</p>
                            <p class="card-text m-1">Max players: @Html.DisplayFor(modelItem => item.MaxPlayer)</p>

                        </div>
                        <a class="stretched-link" href="@Url.Action("Details","AdvertisementModel", new { id = item.ID })"></a>
                    </div>

                    <div class="col-md-2">
                        @if (userEmailModel == userEmail)
                        {
                            <a class="btn-danger m-3 float-right p-2" href="@Url.Action("Delete","AdvertisementModel", new { id = item.ID })">Delete</a>
                        }
                    </div>
                </div>
            </div>


        </div>


    }
}
</div>
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPlayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxPlayer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>*@
