@model BoardGame.Models.FriendModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FriendModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MyFollowers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MyFollowers.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MyObservations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MyObservations.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
